.page-container {
	display:flex;
	flex-direction: column;
}

h1 {
    flex: 1;
	display: flex;
    align-items: center;
    justify-content: center;
}

form {
	flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ng-invalid:not(form), .ng-touched:not(form).ng-pristine{
  box-shadow: 0 0 3px red;
}

.ng-valid[required], .ng-valid.required, .ng-untouched:not(form) {
  box-shadow: 0 0 3px #888888;
}

fieldset {
  border: none;
}

input {
  padding: 0.3em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}



