.page-container {
	display:flex;
	flex-direction: column;
}

.ng-invalid:not(form), .ng-touched:not(form).ng-pristine {
	box-shadow: 0 0 3px red;
}

.ng-valid[required], .ng-valid.required, .ng-untouched:not(form) {
	box-shadow: 0 0 3px #888888;
}
